* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right,#f08a06,#f37d2f,#f37d2fe3);
}
/* ------------------------------------------------*/

/* inicio, container que envolve todo header */
.inicio-pagina {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px  #0e0900a1;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    min-height: 110px;
}
.inicio-pagina  img {
    width: 80px;
    margin-bottom: 15px;
}
/* ------------------------------------------------*/

/* inicio, parte dos links */
.inicio-pagina .links a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 0 5px;
    border-radius: 15px;
}
.inicio-pagina .links a:hover {
    transition: 150ms;
    color: #050505;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 3px #00000083;
}

.inicio-pagina .links a:active {
    color: #da8e03;
}
/* ------------------------------------------------*/

/* abaixo, estilo do container-login*/

.container-login {
    max-width: 30vw;
    min-width: 280px;
    min-height: 600px;
    background-color: #fff;
    margin: 10% auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 20px;  

    box-shadow: 1px 3px 10px #000000;
}
.container-login .login {
    margin: 30px 0;
    font-size: 25px;
    line-height: 2;

    display: flex;
    flex-direction: column;
}

.container-login .login input {
    font-size: 20px;
    padding: 6px 5px;
    border: 0px;
    border-radius: 5px;
}
.container-login .login input:hover {
    box-shadow: -1px 2px 2px #00000065;
}
.container-login .login input.botao-enviar {
    background-color: #f08a06;
    margin-top: 15px;
}
.container-login .login input.botao-enviar:hover {
    background-color: #131313;
    color: #fff;
    border: 1px transparent;
}

.container-login nav {
    display: flex;
    flex-direction: column;

    line-height: 1.8;
    font-size: 20px;
}
.container-login nav a {
    color: #f37d2f;
    text-decoration: none;
}
.container-login nav a:hover {
    text-decoration: underline #f1f1f1;
    color: #000;
}