* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

/* inicio, container que envolve todo header */
.inicio-pagina {
    background-image: linear-gradient(to right,#fcc051,#f37d2f,#f37d2fe3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px  #0e0900a1;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    min-height: 110px;
}
.inicio-pagina  img {
    width: 80px;
    margin-bottom: 15px;
}
/* ------------------------------------------------*/

/* inicio, parte dos links */
.inicio-pagina .links a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin: 10px 5px;
    border-radius: 15px;
}
.inicio-pagina .links a:hover {
    transition: 150ms;
    color: #050505;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 3px #00000083;
}

.inicio-pagina .links a:active {
    color: #da8e03;
}
/* ------------------------------------------------*/

/* inicio, parte login de usuario*/
.inicio-pagina .botao-login {
    font-size: 35px;
    color: #f8f8f8;
    padding: 10px 35px ;
    border-radius: 15px;
    text-decoration: none;
}
.inicio-pagina .botao-login:hover {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 3px #00000083;
    text-decoration: underline;
}
.inicio-pagina .botao-login:active {
    color: #da8e03;
}
/* ------------------------------------------------*/

/*   Display de texto sobre */

main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif ;
}

/*fonte de todas h1*/
h1{
    font-size: 38px;
}

/* fonte de todos os p */
p{
    margin: 0px 0px 16px;
    white-space: pre-line;
    font-size: 1.5rem
       
}

.Texto1, .Texto2{
    text-align: center;
}
/* nosso rodapé */


/*aplica estilo para footer e o seus conteúdos */
#rodape {
    width: 100%;
    /* background-color: #f37d2f; */
    background-color: rgba(255, 192, 76, 0.744);
    min-height: 100px;
    height: 500px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 30%;
    column-gap: 10px;

    margin-top: 50px;
    padding-top: 15px;
    padding-left: 20px;

    position: relative;
}

/* aplica estilo para os atalhos que estão no footer */

#container-atalhos{
    height: 140px;
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    font-size: 1.5rem;
}

#container-atalhos a , a:visited{
    color: black;
    text-decoration: none;
}

#container-atalhos a:hover {
    color: white;
}
/* ----------------------------------------------- */


/*define estilo para os primeiros elementos da direita para esquerda*/
#container-primeira-coluna{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    height: 300px;
}

/*---------------------------------------*/


/*aplica estilo para os icones no footer*/
#container-icones{
    text-align: center;
}

.icone-rodape{
    width: 26px;
    height: 26px;
    margin: 10px;
}

/* -------------------------------------------------- */


/*define estilo para as colunas de informação (TRANSPARENCIA E CONTATOS)*/
.contatos{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contatos2{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

/* ------------------------------------*/


/* aplica estilo para o container do logo e do icone copy */
#container-icone-e-copy{
    position: absolute;
    top: 75%;
    width: 500px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

#container-copy{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:350px;
}

#copy{
    width:20px;
}
/* -----------------------------------------------*/
